<div class="d-flex align-items-center main" *ngShowBlock="'contacts'">
    <div class="d-flex flex-column col-6 offset-3 h-50 card p-5">
        <div class="header text-center">{{title}}</div>
        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, labore modi? Officia porro architecto magnam omnis voluptate nam repudiandae enim, veritatis repellat quo delectus qui iure, soluta, quos ipsum consequuntur!</div>
        <div class="footer mt-auto">tel: 800-452-15-66</div>
    </div>
</div>
