<div class="main d-flex flex-column justify-content-center align-items-center">
    <div highLight [searchText]="searchText">Steve</div>
    <app-table [columns]="columns" [dataAdapter]="apiList" >
        <div *appCustomCell="'logo'; let value = value">
            <img [src]="value">
        </div>
        <div *appCustomCell="'model'; let value = value" >
            <a [href]="value.link" target="_blank">{{value.name}}</a>
        </div>
        <div *appCustomCell="'userName'; let value = value" highLight [searchText]="searchText">
            {{value}}
        </div>
    </app-table>
    <div [formGroup]="formFilter" class="filter-cars d-flex flex-column col-6 mt-1 p-2 align-items-center">
        <label for="searchForUser">Search for user</label>
        <input type="text" id="searchForUser" class="form-control" formControlName="searchCar">
        <app-checkbox-group [options]="bodiesOfCar" formControlName="typeOfCar"></app-checkbox-group>
    </div>
</div>



