
.form-group{
    height: 100vh;
    background-image: url('../../assets/img/image2.jpg');
    background-size: cover;
    opacity: 70%;
}
.header-drop{
    font-size: 14px;
    padding-left: 4px;
}
.content-drop{
    font-size: 11px;
    padding-left: 4px;
}
.footer-drop{
    font-size: 10px;
    padding-left: 4px;
    border-bottom: 1px solid grey;
}

input[type=checkbox]{
    margin-right: 20px;
}
.hover{
    background-color: #888888;
}
.info{
    font-size: 30px;
    color: white;
    text-align: center;
}