.main{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/img/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
}
.form-group{
    background-color: #f0f3f6;
    opacity: 80%;
}
.header-drop{
    font-size: 14px;
    padding-left: 4px;
}
.content-drop{
    font-size: 11px;
    padding-left: 4px;
}
.footer-drop{
    font-size: 10px;
    padding-left: 4px;
    border-bottom: 1px solid grey;
}

input[type=checkbox]{
    margin-right: 20px;
}